{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2" style="margin-top: 200px;">
    <h3 class="title">ثبت آلرت قیمت</h3>
    <div class="box" style="box-sizing: border-box;">
        <form  method="POST" action="/price-alert">

            <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select style="text-align: center;" name="coin">
                      <option disabled selected>Select Coin</option>
                      {% for item in coins %}
                      <option value="MATICUSDT">{{item}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select style="text-align: center;" name="exchange">
                      <option disabled selected>Select Exchange</option>
                      {% for item in coins %}
                      <option value="Kucoin">{{item}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

            <div class="field">
                <div class="control">
                    <input style="text-align: center; " class="input is-large" type="number" step="0.000001" name="price" placeholder="Price">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div><br><br>

    <h3 class="title"> آلرت های ثبت شده</h3>
    <div class="box">
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Coin</th>
                        <th>Exchange</th>
                        <th>Price</th>
                        <th>Path</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in alerts%}
                    <tr>
                        <td>{{item.coin}}</td>
                        <td>{{item.exchange}}</td>
                        <td>{{item.price}}</td>
                        {% if item.path == '1' %}
                        <td style="color:green">بالا</td>
                        {% else %}
                        <td style="color: red">پایین</td>
                        {% endif %}
                        {% if item.status %}
                        <td style="color:green">انجام شده</td>
                        {% else %}
                        <td style="color: red">انجام نشده</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
